In [2]:
import pandas as pd
import trackpy as tp
import numpy as np
import matplotlib.pyplot as plt

In [4]:
inpath = r'/media/baptiste/Windows/Users/LUMIN10/Documents/Données/video_benchmark_min Results - 20230413_162219/video_benchmark_min/Exp1_20190205_06_kif5a_nKTP/HET/larve3/oeil_droit/190205_nanoKTP_kif5a.lif - Series006.tif/190205_nanoKTP_kif5a.lif - Series006.tif.csv'

df = pd.read_csv(inpath,sep='\t')
df.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
2,51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
3,50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
4,49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4

In [4]:
df = df.drop(['msd'],axis=1)
df.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
1,49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4
2,118,191.435660,134.915896,1189.0,2.298389,0.226770,127.0,1189.0,0.0,1,4
3,183,190.166801,135.253022,1241.0,2.195703,0.086949,159.0,1241.0,0.0,2,4
4,259,190.019608,135.080784,1275.0,2.375694,0.130758,133.0,1275.0,0.0,3,4

In [4]:
tdf = pd.DataFrame()
for item in set(df.particle):
    subtracks = df[df.particle==item]
    tdf2 = tp.motion.msd(subtracks,0.173,(1/0.05),max_lagtime=len(subtracks))
    subtracks = pd.concat([subtracks,tdf2.msd],axis=1,join='inner')
    tdf = pd.concat((tdf,subtracks))

tdf.head()
max(tdf.msd)

211.59608108741145

In [5]:
tdf.msd

1      0.022537
2      0.065699
3      0.062211
4      0.046921
77     0.050245
         ...
364    0.265204
419    0.246568
488    0.288500
559    0.441783
80     0.272005
Name: msd, Length: 278, dtype: float64

In [7]:
t = pd.concat([df,tdf.msd],axis=1,join='inner')
t

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,msd
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1,0.022537
2,51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2,0.065699
3,50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3,0.062211
4,49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4,0.046921
6,47,186.789474,425.421053,1007.0,2.665570,0.128447,159.0,1007.0,0.0,0,6,0.352022
...,...,...,...,...,...,...,...,...,...,...,...,...
1706,1673,40.074369,382.198316,2138.0,2.389660,0.166558,181.0,2138.0,0.0,25,48,1.212276
1730,1687,121.994783,501.843926,9393.0,2.687551,0.050684,255.0,9393.0,0.0,25,68,1.825740
1736,1771,191.090831,135.182519,1167.0,2.295818,0.225523,159.0,1167.0,0.0,26,4,0.370170
1757,1789,321.475610,265.850822,3526.0,2.549176,0.087871,234.0,3526.0,0.0,26,21,27.933612
1763,1740,40.861203,382.980833,1513.0,2.365901,0.111204,159.0,1513.0,0.0,26,48,1.511001

In [8]:
max(t.msd)

211.59608108741145

In [5]:
subtracks = df[df.particle==68]
subtracks.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
68,23,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68
141,97,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68
207,164,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68
279,235,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68
349,303,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68

In [6]:
len(subtracks)

1765

In [7]:
tdf2 = tp.motion.msd(subtracks,0.173,(1/0.05),max_lagtime=len(subtracks))
tdf2.head()

           <x>       <y>     <x^2>     <y^2>       msd  lagt
lagt
1    -0.000293  0.000762  0.031241  0.035422  0.066663  0.05
2    -0.000492  0.001402  0.031781  0.035702  0.067484  0.10
3    -0.000625  0.001980  0.031638  0.035800  0.067437  0.15
4    -0.000937  0.002772  0.030330  0.033974  0.064304  0.20
5    -0.001215  0.003368  0.032683  0.035592  0.068276  0.25

In [8]:
tdf2.msd

lagt
1       0.066663
2       0.067484
3       0.067437
4       0.064304
5       0.068276
          ...
1760    1.610602
1761    1.713874
1762    1.500648
1763    1.721576
1764    2.076124
Name: msd, Length: 1764, dtype: float64

In [28]:
len(tdf2)

1764

In [32]:
conc = pd.concat([subtracks,tdf2.msd],axis=1,join='outer')
conc

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,msd
68,23.0,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0.0,68.0,0.077582
141,97.0,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1.0,68.0,0.096335
207,164.0,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2.0,68.0,0.116443
279,235.0,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3.0,68.0,0.153924
349,303.0,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4.0,68.0,0.189446
...,...,...,...,...,...,...,...,...,...,...,...,...
1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.610602
1761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.713874
1762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500648
1763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.721576
1764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.076124

In [35]:
j = subtracks.join(tdf2.msd)
j

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,msd
68,23,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68,0.077582
141,97,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68,0.096335
207,164,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68,0.116443
279,235,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68,0.153924
349,303,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68,0.189446
...,...,...,...,...,...,...,...,...,...,...,...,...
108314,108284,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68,NaN
108374,108346,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68,NaN
108437,108404,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68,NaN
108498,108464,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68,NaN
108556,108525,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68,NaN

In [37]:
tdf2.lagt = tdf2.lagt +1

In [38]:
j = subtracks.join(tdf2.msd)
j

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,msd
68,23,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68,0.077582
141,97,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68,0.096335
207,164,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68,0.116443
279,235,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68,0.153924
349,303,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68,0.189446
...,...,...,...,...,...,...,...,...,...,...,...,...
108314,108284,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68,NaN
108374,108346,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68,NaN
108437,108404,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68,NaN
108498,108464,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68,NaN
108556,108525,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68,NaN

In [43]:

subd = subtracks.drop(['Unnamed: 0'],axis=1)
subd = subd.reset_index(drop=True)
# subd = subtracks.drop(['index'],axis=1)
subd

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68
1,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68
2,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68
3,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68
4,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68
...,...,...,...,...,...,...,...,...,...,...
1760,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68
1761,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68
1762,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68
1763,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68
1764,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68

In [44]:
tdf2.lagt = tdf2.lagt + 1 
tdf2

           <x>       <y>     <x^2>     <y^2>       msd   lagt
lagt
1    -0.000293  0.000762  0.031241  0.035422  0.066663   2.05
2    -0.000492  0.001402  0.031781  0.035702  0.067484   2.10
3    -0.000625  0.001980  0.031638  0.035800  0.067437   2.15
4    -0.000937  0.002772  0.030330  0.033974  0.064304   2.20
5    -0.001215  0.003368  0.032683  0.035592  0.068276   2.25
...        ...       ...       ...       ...       ...    ...
1760 -0.427535  1.185526  0.196306  1.414296  1.610602  90.00
1761 -0.412396  1.220290  0.198797  1.515077  1.713874  90.05
1762 -0.367233  1.162768  0.135410  1.365239  1.500648  90.10
1763 -0.433548  1.235519  0.192656  1.528920  1.721576  90.15
1764 -0.516747  1.345026  0.267028  1.809096  2.076124  90.20

[1764 rows x 6 columns]

In [45]:
j = subd.join(tdf2.msd)
j

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,msd
0,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68,NaN
1,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68,0.066663
2,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68,0.067484
3,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68,0.067437
4,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68,0.064304
...,...,...,...,...,...,...,...,...,...,...,...
1760,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68,1.610602
1761,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68,1.713874
1762,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68,1.500648
1763,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68,1.721576
1764,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68,2.076124

### Redémarrage

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
inpath = r'/media/baptiste/Windows/Users/LUMIN10/Documents/Données/video_benchmark_min Results - 20230413_162219/video_benchmark_min/Exp1_20190205_06_kif5a_nKTP/HET/larve3/oeil_droit/190205_nanoKTP_kif5a.lif - Series006.tif/190205_nanoKTP_kif5a.lif - Series006.tif.csv'

df = pd.read_csv(inpath,sep='\t')
df.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
2,51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
3,50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
4,49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4

In [26]:
df = df.set_index(['Unnamed: 0'],drop=True)
df.head()

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
Unnamed: 0,,,,,,,,,,
0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4

In [27]:
df.index.name = None
df.head()

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4

In [57]:
tdf = pd.DataFrame()
for item in set(df.particle):
    subtracks = df[df.particle==item]
    tdf2 = tp.motion.msd(subtracks,0.173,(1/0.05),max_lagtime=len(subtracks))
    df1 = pd.DataFrame([[np.nan] * len(tdf2.columns)], columns=tdf2.columns)
    tdf2 = pd.concat((df1,tdf2), ignore_index=True)
    tdf = pd.concat((tdf,tdf2))

tdf.head()
len(tdf)

113890

In [14]:
dfs = tp.filter_stubs(df,3)

In [152]:
dfs

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
frame,,,,,,,,,,
0,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
0,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
0,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
0,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4
0,188.498824,185.376471,425.0,2.449970,0.126286,80.0,425.0,0.0,0,5
...,...,...,...,...,...,...,...,...,...,...
1764,132.000000,441.963016,703.0,1.933459,0.285439,106.0,703.0,0.0,1764,13242
1764,133.537012,360.462988,743.0,2.251364,0.072669,106.0,743.0,0.0,1764,9721
1764,135.800752,192.000000,532.0,1.674668,0.570779,106.0,532.0,0.0,1764,14455
1764,139.962126,384.363245,4647.0,2.532424,0.062667,234.0,4647.0,0.0,1764,5748
1764,341.864358,23.000000,693.0,2.179532,0.234494,80.0,693.0,0.0,1764,13763

In [200]:
subtracks = df[df.particle==1]

In [32]:
subtracks = dfs[dfs.particle==7]

In [29]:
subtracks

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
frame,,,,,,,,,,
0,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4
1,191.435660,134.915896,1189.0,2.298389,0.226770,127.0,1189.0,0.0,1,4
2,190.166801,135.253022,1241.0,2.195703,0.086949,159.0,1241.0,0.0,2,4
3,190.019608,135.080784,1275.0,2.375694,0.130758,133.0,1275.0,0.0,3,4
4,190.031592,135.035237,823.0,2.355676,0.617096,133.0,823.0,0.0,4,4
...,...,...,...,...,...,...,...,...,...,...
1760,192.794958,139.514286,1190.0,2.449490,0.209742,159.0,1190.0,0.0,1760,4
1761,193.465680,136.749664,743.0,1.962982,0.196451,133.0,743.0,0.0,1761,4
1762,192.976357,137.582312,1142.0,2.443405,0.154285,133.0,1142.0,0.0,1762,4
1763,192.155072,138.557971,1380.0,2.153528,0.245732,159.0,1380.0,0.0,1763,4
1764,192.712757,137.550617,1215.0,2.399931,0.449891,127.0,1215.0,0.0,1764,4

In [33]:
len(subtracks)

487

In [17]:
if subtracks['frame'].max() - subtracks['frame'].min() + 1 == len(subtracks):
    print('no gaps')
else:
    print('gaps')

no gaps

In [191]:
lng = []
llng = []
for item in set(dfs.particle):
    subtracks = df[df.particle==item]
    if subtracks['frame'].max() - subtracks['frame'].min() + 1 == len(subtracks):
        lng.append(item)
        llng.append(len(subtracks))

print(max(llng))

1765

In [116]:
subtracks['frame'].max() - subtracks['frame'].min()

1764

In [130]:
for i in subtracks.frame:
    # print(i)
    if i+1 -i != 1:
        print(i)

In [34]:
sub_msd = tp.motion.msd(subtracks,0.173,(1/0.05),max_lagtime=len(subtracks))
sub_msd

           <x>       <y>     <x^2>     <y^2>       msd   lagt
lagt
1    -0.000441 -0.000135  0.029829  0.021773  0.051602   0.05
2     0.000197  0.000491  0.033040  0.023729  0.056769   0.10
3     0.002857 -0.001351  0.033224  0.022878  0.056102   0.15
4     0.003958 -0.002920  0.033869  0.024827  0.058696   0.20
5     0.004656 -0.003990  0.032941  0.023331  0.056272   0.25
...        ...       ...       ...       ...       ...    ...
483   0.111371 -0.044276  0.051833  0.068493  0.120327  24.15
484   0.124970 -0.071371  0.056678  0.075553  0.132230  24.20
485   0.133775 -0.057829  0.078193  0.093981  0.172174  24.25
486   0.130614 -0.079275  0.080797  0.111177  0.191974  24.30
487   0.124718 -0.078940  0.089174  0.070489  0.159663  24.35

[487 rows x 6 columns]

In [35]:
sub_msd.msd.max()

0.1919741497012975

In [168]:
sub_msd = tp.motion.msd(subtracks,0.173,(1/0.05),max_lagtime=(subtracks['frame'].max() - subtracks['frame'].min() + 1))
sub_msd

           <x>       <y>     <x^2>     <y^2>       msd  lagt
lagt
1     0.002640  0.001719  0.044149  0.031260  0.075409  0.05
2     0.001123 -0.000788  0.076637  0.047989  0.124626  0.10
3    -0.009584  0.000158  0.045737  0.034892  0.080630  0.15
4     0.022855  0.019050  0.041791  0.035290  0.077081  0.20
5    -0.008116 -0.032636  0.047670  0.031311  0.078981  0.25
...        ...       ...       ...       ...       ...   ...
144   0.522636  0.071270  0.287885  0.018954  0.306839  7.20
145   0.361248  0.246266  0.132357  0.063315  0.195673  7.25
146   0.504172  0.193388  0.254244  0.047415  0.301659  7.30
147   0.271857  0.098857  0.073906  0.009773  0.083679  7.35
148   0.364316  0.197714  0.132726  0.039091  0.171817  7.40

[148 rows x 6 columns]

In [23]:
print(len(sub_msd), len(subtracks))

19 19

In [61]:
sub_msd.index.name = None
sub_msd

           <x>       <y>     <x^2>     <y^2>       msd   lagt
1    -0.000293  0.000762  0.031241  0.035422  0.066663   0.05
2    -0.000492  0.001402  0.031781  0.035702  0.067484   0.10
3    -0.000625  0.001980  0.031638  0.035800  0.067437   0.15
4    -0.000937  0.002772  0.030330  0.033974  0.064304   0.20
5    -0.001215  0.003368  0.032683  0.035592  0.068276   0.25
...        ...       ...       ...       ...       ...    ...
1760 -0.427535  1.185526  0.196306  1.414296  1.610602  88.00
1761 -0.412396  1.220290  0.198797  1.515077  1.713874  88.05
1762 -0.367233  1.162768  0.135410  1.365239  1.500648  88.10
1763 -0.433548  1.235519  0.192656  1.528920  1.721576  88.15
1764 -0.516747  1.345026  0.267028  1.809096  2.076124  88.20

[1764 rows x 6 columns]

In [63]:
type(sub_msd.msd)

pandas.core.series.Series

In [64]:
emp = pd.Series([np.nan])
emp

0   NaN
dtype: float64

In [85]:
msd_r = pd.concat([emp,sub_msd.msd])
msd_r.to_csv('msd.csv')

In [67]:
print(len(msd_r))
print(len(subtracks))

1765
1765

In [72]:
msd_r.index = subtracks.index
msd_r

23        0.068306
97        0.084206
164       0.100857
235       0.128166
303       0.165831
            ...
108284         NaN
108346         NaN
108404         NaN
108464         NaN
108525         NaN
Length: 1765, dtype: float64

In [ ]:
msd_r = pd.concat([msd_r,subtracks.index],axis=1)
msd_r

In [81]:
msd_r

0            NaN
1       0.066663
2       0.067484
3       0.067437
4       0.064304
          ...
1760    1.610602
1761    1.713874
1762    1.500648
1763    1.721576
1764    2.076124
Length: 1765, dtype: float64

In [87]:
subtracks['msd'] = msd_r.values
subtracks.to_csv('sub.csv')

/tmp/ipykernel_710708/1307045186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subtracks['msd'] = msd_r.values

In [89]:
len_list = []
for item in set(df.particle):
    len_list.append(len(df[df.particle==item]))
min(len_list)

1

In [99]:
df

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4
...,...,...,...,...,...,...,...,...,...,...
108528,132.000000,441.963016,703.0,1.933459,0.285439,106.0,703.0,0.0,1764,13242
108529,133.537012,360.462988,743.0,2.251364,0.072669,106.0,743.0,0.0,1764,9721
108530,135.800752,192.000000,532.0,1.674668,0.570779,106.0,532.0,0.0,1764,14455
108532,139.962126,384.363245,4647.0,2.532424,0.062667,234.0,4647.0,0.0,1764,5748
108563,341.864358,23.000000,693.0,2.179532,0.234494,80.0,693.0,0.0,1764,13763

In [102]:
df.particle.nunique()

14482

In [104]:
idf = tp.motion.imsd(df,0.173,(1/0.05),max_lagtime=len(df))
idf

,1,2,3,4,5,6,7,8,9,10,...,14446,14450,14455,14459,14460,14468,14470,14471,14473,14476
lag time [s],,,,,,,,,,,,,,,,,,,,,
0.05,0.022537,0.272059,0.065007,0.046734,0.679019,0.181225,0.051602,0.151624,0.211869,0.023291,...,0.171541,0.000000,0.000000,0.0000,0.000000,0.113935,0.000000,0.000000,0.224762,0.023066
0.10,0.041138,0.065699,0.061366,0.045268,0.342370,0.419154,0.056769,0.139383,0.197087,0.059091,...,0.422325,0.659867,0.182499,0.0625,0.084674,0.016111,0.015703,0.353328,NaN,NaN
0.15,0.033116,0.183188,0.062211,0.048791,0.074831,0.444733,0.056102,0.144110,0.215478,0.227684,...,0.000000,NaN,0.240879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.20,0.021558,0.229603,0.074787,0.046921,0.721369,0.150356,0.058696,0.132350,0.212178,0.112354,...,0.793722,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.25,0.036018,0.169551,0.067879,0.046614,NaN,0.264338,0.056272,0.143652,0.201936,0.074949,...,1.060765,NaN,0.778976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88.00,NaN,NaN,NaN,0.416065,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.05,NaN,NaN,NaN,0.329428,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.10,NaN,NaN,NaN,0.327125,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.15,NaN,NaN,NaN,0.281317,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88.20,NaN,NaN,NaN,0.188541,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
subtracks

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
frame,,,,,,,,,,
0,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68
1,122.116658,501.125115,9815.0,2.659349,0.059095,255.0,9815.0,0.0,1,68
2,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68
3,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68
4,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68
...,...,...,...,...,...,...,...,...,...,...
1760,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68
1761,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68
1762,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68
1763,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68
1764,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68

In [196]:
no_gaps = subtracks
gaps = subtracks.drop([1])
gaps

,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
frame,,,,,,,,,,
0,121.199753,502.001952,9732.0,2.660604,0.063057,255.0,9732.0,0.0,0,68
2,122.939614,501.043629,9787.0,2.683655,0.094479,255.0,9787.0,0.0,2,68
3,121.070003,501.146084,9871.0,2.681012,0.063844,255.0,9871.0,0.0,3,68
4,122.109180,501.873755,9434.0,2.663261,0.090424,255.0,9434.0,0.0,4,68
5,123.002274,501.043495,10116.0,2.678005,0.058394,255.0,10116.0,0.0,5,68
...,...,...,...,...,...,...,...,...,...,...
1760,128.158158,499.052404,7404.0,2.707090,0.080905,255.0,7404.0,0.0,1760,68
1761,129.121186,497.979123,8095.0,2.654771,0.061796,255.0,8095.0,0.0,1761,68
1762,128.819760,499.687545,6913.0,2.640525,0.068194,255.0,6913.0,0.0,1762,68
1763,128.625399,499.099973,7512.0,2.641345,0.058004,255.0,7512.0,0.0,1763,68
1764,128.974472,499.014974,7012.0,2.627415,0.121768,255.0,7012.0,0.0,1764,68

In [197]:
g_msd = tp.motion.msd(gaps,0.173,(1/0.05),max_lagtime=len(gaps))
ng_msd = tp.motion.msd(no_gaps,0.173,(1/0.05),max_lagtime=len(no_gaps))

In [198]:
g_msd

           <x>       <y>     <x^2>     <y^2>       msd   lagt
lagt
1    -0.000199  0.000593  0.031264  0.035436  0.066700   0.05
2    -0.000494  0.001505  0.031799  0.035704  0.067503   0.10
3    -0.000699  0.001982  0.031646  0.035820  0.067466   0.15
4    -0.000929  0.002686  0.030347  0.033980  0.064327   0.20
5    -0.001281  0.003384  0.032694  0.035612  0.068307   0.25
...        ...       ...       ...       ...       ...    ...
1760 -0.398355  1.178962  0.171329  1.400765  1.572094  88.00
1761 -0.466961  1.240507  0.244446  1.571850  1.816296  88.05
1762 -0.375675  1.181146  0.141743  1.413906  1.555649  88.10
1763 -0.502042  1.284637  0.252047  1.650292  1.902338  88.15
1764 -0.516747  1.345026  0.267028  1.809096  2.076124  88.20

[1764 rows x 6 columns]

In [199]:
ng_msd

           <x>       <y>     <x^2>     <y^2>       msd   lagt
lagt
1    -0.000293  0.000762  0.031241  0.035422  0.066663   0.05
2    -0.000492  0.001402  0.031781  0.035702  0.067484   0.10
3    -0.000625  0.001980  0.031638  0.035800  0.067437   0.15
4    -0.000937  0.002772  0.030330  0.033974  0.064304   0.20
5    -0.001215  0.003368  0.032683  0.035592  0.068276   0.25
...        ...       ...       ...       ...       ...    ...
1760 -0.427535  1.185526  0.196306  1.414296  1.610602  88.00
1761 -0.412396  1.220290  0.198797  1.515077  1.713874  88.05
1762 -0.367233  1.162768  0.135410  1.365239  1.500648  88.10
1763 -0.433548  1.235519  0.192656  1.528920  1.721576  88.15
1764 -0.516747  1.345026  0.267028  1.809096  2.076124  88.20

[1764 rows x 6 columns]

# Histogramme MSD

In [37]:
inpath = r'/media/baptiste/Windows/Users/LUMIN10/Documents/Données/video_benchmark_min Results - 20230421_142543/video_benchmark_min/Exp1_20190205_06_kif5a_nKTP/HET/larve3/oeil_droit/190205_nanoKTP_kif5a.lif - Series006.tif/190205_nanoKTP_kif5a.lif - Series006.tif.csv'
df = pd.read_csv(inpath,sep='\t')
df.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,max_msd
0,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1,0.201725
1,121,208.700919,399.208020,2394.0,2.133004,0.126221,234.0,2394.0,0.0,1,1,0.201725
2,189,208.076960,399.829245,2079.0,2.113085,0.100161,186.0,2079.0,0.0,2,1,0.201725
3,262,208.103043,400.189002,1873.0,2.119117,0.060523,160.0,1873.0,0.0,3,1,0.201725
4,329,208.554339,399.867734,2374.0,2.210300,0.055561,181.0,2374.0,0.0,4,1,0.201725

In [57]:
list_msd = []
for traj in set(df.particle):
    subtrack = df[df.particle==traj]
    if len(subtrack)>30:
        list_msd.append(subtrack.max_msd.unique()[0])
len(list_msd)

452

In [58]:
%matplotlib tk
plt.hist(list_msd,1000)
plt.show()

In [ ]:
plt.bar()

In [55]:
counts, bins = np.histogram(list_msd,bins=100)
len(bins)
bins = bins[:-1]
plt.plot(np.sqrt(bins),counts/sum(counts))
plt.show()
# plt.close

In [ ]:
plt.hist([len(df[df.particle==traj]) for traj in set(df.particle)],1000)
plt.show()

## Parallel

In [1]:
import trackpy as tp
import pandas as pd 
import numpy as np
from joblib import Parallel, delayed

In [2]:
inpath = r'/media/baptiste/Windows/Users/LUMIN10/Documents/Données/video_benchmark_min Results - 20230526_133217/video_benchmark_min/Exp1_20190205_06_kif5a_nKTP/HET/larve3/oeil_droit/190205_nanoKTP_kif5a.lif - Series006.tif/190205_nanoKTP_kif5a.lif - Series006.tif.csv'
df = pd.read_csv(inpath,sep='\t')
df.head()

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle
0,0,4.335423,170.501567,319.0,1.731146,0.297519,80.0,319.0,0.0,0,0
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1
2,51,204.532663,336.266332,398.0,2.826650,0.612289,80.0,398.0,0.0,0,2
3,50,190.798283,490.801502,932.0,2.408631,0.277712,160.0,932.0,0.0,0,3
4,49,191.298775,135.476909,1061.0,2.495425,0.262029,106.0,1061.0,0.0,0,4

In [3]:
def MSD_calculation(tracks,px,dt):

    df = pd.DataFrame()
    for item in set(tracks.particle):
        subtracks = tracks[tracks.particle==item].copy()
        if len(subtracks) > 1:
            df2 = tp.motion.msd(subtracks,px,(1/dt),max_lagtime=len(subtracks))
            max_msd = [df2.msd.max()]*len(subtracks)    
            # max_msd = pd.DataFrame(max_msd,columns=['max_msd'])
            # df = df.reset_index(drop=True)
            subtracks['max_msd'] = max_msd
            df = pd.concat((df,subtracks))

    return df

In [8]:
# %%timeit
df_msd = MSD_calculation(df, 0.173, 0.05)

In [5]:
def MSD_calculation_parallel(tracks,px,dt):

    df = pd.DataFrame()
    MSD_gen = Parallel(n_jobs=12,return_generator=True)(delayed(MSD_calculation_job)(tracks, item, px, dt) for item in set(tracks.particle))
    for subtracks in MSD_gen:
        if len(subtracks) > 1:
            df = pd.concat((df,subtracks))
        else:
            continue
        
    return df

def MSD_calculation_job(tracks, item, px, dt):

    subtracks = tracks[tracks.particle==item].copy()
    df2 = tp.motion.msd(subtracks,px,(1/dt),max_lagtime=len(subtracks))
    max_msd = [df2.msd.max()]*len(subtracks)
    subtracks['max_msd'] = max_msd

    return subtracks

In [9]:
# %%timeit
df_msd_parallel = MSD_calculation_parallel(df, 0.173, 0.05)

In [10]:
df_msd

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,max_msd
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1,0.201725
74,121,208.700919,399.208020,2394.0,2.133004,0.126221,234.0,2394.0,0.0,1,1,0.201725
145,189,208.076960,399.829245,2079.0,2.113085,0.100161,186.0,2079.0,0.0,2,1,0.201725
216,262,208.103043,400.189002,1873.0,2.119117,0.060523,160.0,1873.0,0.0,3,1,0.201725
287,329,208.554339,399.867734,2374.0,2.210300,0.055561,181.0,2374.0,0.0,4,1,0.201725
...,...,...,...,...,...,...,...,...,...,...,...,...
108546,108514,91.166667,305.166667,318.0,1.825742,0.149071,106.0,318.0,0.0,1764,14471,0.353328
108450,108480,190.111111,420.222222,477.0,2.185813,0.181269,106.0,477.0,0.0,1763,14473,0.224762
108507,108544,189.000000,422.727273,583.0,2.354879,0.305085,159.0,583.0,0.0,1764,14473,0.224762
108482,108473,143.569892,420.069892,372.0,2.020061,0.465613,106.0,372.0,0.0,1763,14476,0.023066
108530,108534,144.250000,420.625000,424.0,2.524876,0.285044,106.0,424.0,0.0,1764,14476,0.023066

In [11]:
df_msd_parallel

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame,particle,max_msd
1,52,209.351055,399.286526,2464.0,2.180846,0.132260,234.0,2464.0,0.0,0,1,0.201725
74,121,208.700919,399.208020,2394.0,2.133004,0.126221,234.0,2394.0,0.0,1,1,0.201725
145,189,208.076960,399.829245,2079.0,2.113085,0.100161,186.0,2079.0,0.0,2,1,0.201725
216,262,208.103043,400.189002,1873.0,2.119117,0.060523,160.0,1873.0,0.0,3,1,0.201725
287,329,208.554339,399.867734,2374.0,2.210300,0.055561,181.0,2374.0,0.0,4,1,0.201725
...,...,...,...,...,...,...,...,...,...,...,...,...
108546,108514,91.166667,305.166667,318.0,1.825742,0.149071,106.0,318.0,0.0,1764,14471,0.353328
108450,108480,190.111111,420.222222,477.0,2.185813,0.181269,106.0,477.0,0.0,1763,14473,0.224762
108507,108544,189.000000,422.727273,583.0,2.354879,0.305085,159.0,583.0,0.0,1764,14473,0.224762
108482,108473,143.569892,420.069892,372.0,2.020061,0.465613,106.0,372.0,0.0,1763,14476,0.023066
108530,108534,144.250000,420.625000,424.0,2.524876,0.285044,106.0,424.0,0.0,1764,14476,0.023066

In [12]:
df_msd.equals(df_msd_parallel)

True